<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/metadata.html :: head(pageTitle='Updating the product')"/>

<body>

<nav th:replace="fragments/header.html :: navigation-bar"/>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:replace="fragments/forms.html :: product-editing(action='update')"/>
        </div>
    </div>
</div>

<script th:replace="fragments/footer.html :: scripts"/>

</body>

</html>