<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>Oleg Shokin Store</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">O.Shokin Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/product}">Products</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/customer}">Customers</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row py-2">
        <form class="form-inline mt-3" method="get">
            <div class="form-group mx-sm-3 mb-2">
                <label for="name-filter" class="sr-only">Name filter:</label>
                <input th:value="${param.nameFilter}" type="text" class="form-control"
                       name="nameFilter" id="name-filter" placeholder="Name filter">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="min-price-filter" class="sr-only">Minimum price:</label>
                <input th:value="${param.minPrice}" type="number" class="form-control"
                       name="minPrice" id="min-price-filter" placeholder="Minimum price">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="max-price-filter" class="sr-only">Maximum price:</label>
                <input th:value="${param.maxPrice}" type="number" class="form-control"
                       name="maxPrice" id="max-price-filter" placeholder="Maximum price">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Apply</button>
        </form>
        <div class="col-12">
            <a class="btn btn-primary" th:href="@{/product/new}">Add Product</a>
        </div>
        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th> <a th:href="@{/product(page=${products.number + 1},
                                                    size=${selectedPageSize},
                                                    nameFilter = ${param.nameFilter},
                                                    minPrice = ${param.minPrice},maxPrice = ${param.maxPrice},
                                                    sortField='id')}">Id</a></th>
                    <th> <a th:href="@{/product(page=${products.number + 1},
                                                    size=${selectedPageSize},
                                                    nameFilter = ${param.nameFilter},
                                                    minPrice = ${param.minPrice},
                                                    maxPrice = ${param.maxPrice},
                                                    sortField='name')}">Name</a></th>
                    <th> <a th:href="@{/product(page=${products.number + 1},
                                                    size=${selectedPageSize},
                                                    nameFilter = ${param.nameFilter},
                                                    minPrice = ${param.minPrice},maxPrice = ${param.maxPrice},
                                                    sortField='description')}">Description</a></th>
                    <th> <a th:href="@{/product(page=${products.number + 1},
                                                    size=${selectedPageSize},
                                                    nameFilter = ${param.nameFilter},
                                                    minPrice = ${param.minPrice},
                                                    maxPrice = ${param.maxPrice},
                                                    sortField='price')}">Price</a></th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${products.hasContent()}" th:each="product : ${products.content}">
                    <th scope="row" th:text="${product.id}">1</th>
                    <td th:text="${product.name}">ZX Spectrum</td>
                    <td th:text="${product.description}">ZX Spectrum 128</td>
                    <td th:text="${product.price}">$1</td>
                    <td>
                        <a class="btn btn-success" th:href="@{/product/edit/{id}(id = ${product.id})}"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger" th:href="@{/product/delete/{id}(id = ${product.id})}"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr th:unless="${products.hasContent()}">
                    <td colspan="5">No products were found matching your selection</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div th:if="${products.hasContent()}" class="col-12-inline">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:classappend="${products.hasPrevious()} ? '' : 'disabled'"
                        class="page-item">
                        <a class="page-link"
                           th:href="@{/product(page=${products.number}, size=${selectedPageSize},
                       nameFilter = ${param.nameFilter}, minPrice = ${param.minPrice}, maxPrice = ${param.maxPrice},
                       sortField=${sortValue})}">Previous</a>
                    </li>

                    <li th:each="num: ${#numbers.sequence(1, products.totalPages)}"
                        th:classappend="${num == products.number + 1} ? 'active'"
                        class="page-item">
                        <a class="page-link" th:href="@{/product(page=${num}, size=${selectedPageSize},
                     nameFilter = ${param.nameFilter}, minPrice = ${param.minPrice}, maxPrice = ${param.maxPrice},
                     sortField=${sortValue})}">[[${num}]]</a>
                    </li>

                    <li th:classappend="${products.hasNext()} ? '' : 'disabled'"
                        class="page-item">
                        <a class="page-link"
                           th:href="@{/product(page=${products.number + 2}, size=${selectedPageSize},
                       nameFilter = ${param.nameFilter}, minPrice = ${param.minPrice}, maxPrice = ${param.maxPrice},
                       sortField=${sortValue})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div th:if="${products.hasContent()}">
            <ul class="list-inline">
                <span>Items per page:</span>
                <li class="list-inline-item">
                    <a class="page-link"
                       th:href="@{/product(page=1, size=5, nameFilter = ${param.nameFilter}, minPrice = ${param.minPrice},
                       maxPrice = ${param.maxPrice}, sortField=${sortValue})}">5</a></li>
                <li class="list-inline-item">
                    <a class="page-link"
                       th:href="@{/product(page=1, size=10, nameFilter = ${param.nameFilter},
                       minPrice = ${param.minPrice}, maxPrice = ${param.maxPrice}, sortField=${sortValue})}">10</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>